.Day{
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.548);
    width: 100%;
    max-width: 175px;
    margin: auto;
    height: 50px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

.Day .degree {
    grid-row: 2/3;
    font-size: 23px;
    margin-left: 10px;
}

.Day .weather {
    margin-left: 12px;
    font-size: 12px;
}

.Day .date {
    grid-row: 2/3;
    font-size: 11px;
    text-align: right;
    margin-top: auto;
    margin-bottom: 5px;
    margin-right: 5px;
}

.Day .deg-symbol {
    font-size: 15px;
    position: relative;
    top: -8px;
}